@model GamingSysnetViewModel

<head>

    <style>




    </style>
</head>

<body>
    @if (@Model.GamingSysnetViewModelId == Guid.Empty)
    {

        <h1 style="text-align:center;font-weight: 400;">Add Gaming Sysnet</h1>
        <hr />

    }
    else
    {
        <h1 style="text-align:center; font-weight: 400;"> Update GamingSysnet</h1>
        <hr />
    }
    <div style="width:100%;">

        <form action="/GamingSystem/AddGamingSystem" method="post">
            <div style="text-align:center">
                <p>
                    <div>
                        <h5 style="font-weight: 400;">
                            Enter ClassName:
                        </h5>
                    </div>

                    @Html.TextBoxFor(x => x.GamingSysnetViewModelName)
                    @Html.ValidationMessageFor(x=>x.GamingSysnetViewModelName)
                </p>
          
            </div>
            @Html.HiddenFor(x=>x.GamingSysnetViewModelId)
            @if (@Model.GamingSysnetViewModelId == Guid.Empty)
            {
                <div style="text-align:center">
                    <input type="submit" value="Add Gaming Sysnet" />
                </div>
            }
            else
            {
                <div style="text-align:center">
                    <input type="submit" value="Update Gaming Sysnet" />
                </div>
            }
        </form>
    </div>
</body>